.header-color {
  background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.demo-big-content{
  font-family: 'Open Sans Condensed';
  font-size: '25px';
}
/*-------------------------------------------------ABOUT*/

.logo-img-about {
  padding-top: 2rem;
}

.about-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.about-grid {
  background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  justify-content: center;
  width: 90%;
  height: 'auto';
  /*background: white;*/
  color: black;
  border: 2px solid rgb(130, 231, 130);
  margin-bottom: 20px;
}
.about-grid h2{
  font-family: 'Open Sans Condensed', sans-serif;
}
.about-grid p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.about-grid hr {
  border-top: 10px dotted  #38ef7d;
  width: 620px;
  margin: auto;
}

.about-list i {
  font-size: 50px;
  padding-right: 2rem;
}


/*-------------------------------------------------LANDING PAGE*/
.landing-grid {
  background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
text-align: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
}

/*-------------------------------------------------systems & solutions-----------background*/
.grid-sys{
  background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.grid-sys h1 {
  text-align: 'center';
  color: #38ef7d;
  font-family: 'Open Sans Condensed';
  font-weight: 'bold';
}


/*------------------------------------------------------------------------------------------------------PROJECT*/
.projects-grid {
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding-top: 2em;
padding-bottom: 3em;
display: flex;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.projects-grid button {
  width: 100%;
  background-color: rgb(106, 238, 99);
  color: black;
  border: 2px solid #4CAF50; /* Green */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-decoration-color: #38ef7d;
  border-radius: 20px;
  letter-spacing: 3px;
  text-shadow: 3px 2px #38ef7d;
}
.projects-grid button a {
  color: white;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

/*-----------------------------------------------------------------SYSTEM*/

.system-right-col {
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}

.system-right-col button a {
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}

.demo-grid-ruler img {
  padding: 'auto'
}


/*----------------------------------------------------------------CONTACT*/
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}
.contact-grid {
  text-align: center;
  justify-content: center;
  width: 90%;
  height: 600px;
  background: white;
  color: black;
  border: 2px solid rgb(130, 231, 130);
  margin-bottom: 20px;
}
.contact-grid h2{
  font-family: 'Open Sans Condensed', sans-serif;
}
.contact-grid p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.contact-grid hr {
  border-top: 10px dotted  #38ef7d;
  width: 620px;
  margin: auto;
}

.contact-list i {
  font-size: 50px;
  padding-right: 2rem;
}



.logo-img {
  height: 450px;
  padding-top: 5rem;
}

.banner-text {
  background-color: #e2ffc5;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 20px;
}

.banner-text h1 {
  font-size: 25px;
  font-weight: bold;
  color:rgb(109, 186, 33);
}
.banner-text p {
  font-size: 10px;
  font-weight: bold;
  color: rgb(109, 186, 33);
  padding: 1em;
}
